header {
  width: 100%;
  text-align: right;
  padding: 0;
  box-sizing: border-box;
  background-color: #181818;
  -webkit-app-region: drag;
  display: flex;
  justify-content: flex-end;
  gap: 0;
  height: 2rem;
}

header button {
  background: none;
  border: none;
  color: white;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 0.8rem;
  line-height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: no-drag;
  border-radius: 0;
}

#close:hover {
  background-color: red;
  color: white;
}

#minimize:hover,
#maximize:hover {
  background-color: gray;
}

/* Hollow maximize icon */
.maximize-icon {
  width: 11px;
  height: 11px;
  border: 1px solid white;
  box-sizing: border-box;
  background: none;
  position: absolute;
}

.main {
  display: grid;
  grid-template-columns: 16rem auto;
  gap: 1rem;
}

.mainGrid {
  min-height: 10rem;
  height: auto;
  padding: 0.5rem;
}

.selectOption {
  display: block;
  padding: 0.5rem;
  width: 100%;
  background-color: #2c2c2c;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.selectOptionTitle {
  display: flex;
  gap: 0.5rem;
}

.selectOptionTitle :first-child {
  font-weight: 600;
}
.selectOptionTitle :nth-child(2) {
  font-weight: 400;
  font-size: 0.8rem;
}

.selectOptionChart {
  height: 3rem;
  width: 100%;
}

.selectOptionChart * {
  cursor: pointer;
}
